
<!-- <div>
  <form [formGroup]="chForm" (ngSubmit)="submitCh()">
<select formControlName="chapter">
  <option value="none">Not selected</option>
  <option value="ch1">Chapter1</option>
  <option value="ch2">Chapter2</option>
  <option value="ch3">Chapter3</option>
  <option value="ch4">Chapter4</option>
  <option value="ch5">Chapter5</option>
  <option value="ch6">Chapter6</option>
  <option value="ch7">Chapter7</option>
  <option value="ch8">Chapter8</option>
  <option value="ch9">Chapter9</option>
  <option value="ch10">Chapter10</option>
</select>
<button type="submit">Submit</button>
</form>
</div> -->

<a routerLink="./chapter1">Chapter1</a>
<br>
<a routerLink="./chapter2">Chapter2</a>
<br>
<a routerLink="./chapter3">Chapter3</a>
<br>
<a routerLink="./chapter4">Chapter4</a>
<br>
<a routerLink="./chapter5">Chapter5</a>
<br>
<a routerLink="./chapter6">Chapter6</a>
<br>
<a routerLink="./chapter7">Chapter7</a>
<br>
<a routerLink="./chapter8">Chapter8</a>
<br>
<a routerLink="./chapter9">Chapter9</a>
<br>
<a routerLink="./chapter10">Chapter10</a>
<br>
<a routerLink="./chapter11">Chapter11</a>
<br>
<a routerLink="./chapter12">Chapter12</a>
<div>
    <router-outlet></router-outlet>
</div>
