<!-- <a routerLink="/dashboard">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="./addroles">Add Roles</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="./chapter">Chapter</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="./topic">Topic</a> -->

<ul>
    <li><a routerLink="/dashboard">Home</a></li>
    <li><a routerLink="./addroles">Add Roles</a></li>
    <li><a routerLink="./chapter">Chapter</a></li>
    <li><a routerLink="./topic">Topic</a></li>
    <button (click)="logout()">Logout</button>
</ul>

<router-outlet></router-outlet>